body
{  
	display: flex;
	flex-direction: column;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)),url("./assets/img2.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
#particles-js{
	position: absolute;
	z-index: 0;
    left: 50px;
    height: 100vh;
    width: 100%;


}
main{
	flex: 1 0 auto;
	position: relative;

}
.btns button{
    width: 45%;
	margin: 5px;
}
#haed {
	display: flex;
	 flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
#output{
   height: 225px;
   overflow: auto;

}
@media(max-width:991px){
  
  #output{
   height: 420px;

}
.btns button{
	width: 80%;
	margin: 5px;

}	
}
@media(max-width:367px){
  
  #output{
   height: 220px;

}
.btns button{
	width: 100%;
	margin: 5px;
	padding-left: 0px;
	padding-right: 0px;

}	
}
